/* html, body {
  max-width: 100%;
  overflow-x: hidden;
} */

#robotfw-aio-icon{
   height: 32px;
   margin-top: -6px;
}
.nav-header{
  background-color: rgb(40 10 100);
}
/* .nav-header a {
  color: white !important;
} */
/* .nav-header a:hover, a.active {
  color: blue !important;
} */
#main-content > div {
  text-align: justify;
}

.navbar-nav li{
  white-space: nowrap;
}

input {
  min-width: 100px;
}
/* @media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
  }
} */

/* for images */
.zoom-img {
  transition: transform .2s;
}
.zoom-img:hover {
  transform: scale(1.5);
}


/* Download section style */
.download{
  text-align: center;
}
/* OS icons */
.os-icon{
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  /* margin-left: 25px; */
}
/* Download buttons */
.download-btn{
  width: 150px;
  background-color: rgb(40 10 100);
  border: 0;
  color: white;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.download-btn:hover{
  background-color: rgb(70 25 150);
  border: 0px;
}


/* Contact page */
.contact-options {
  justify-content: space-between;
  text-align: center;
}

.contact-options a {
  color: rgb(40 10 100);
  background-color: #cecece;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  width: 200px;
  text-align: center;
  padding: 7px 20px;
  border: 1px solid rgb(40 10 100);;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  margin-left: 50px;
  margin-top: 10px;
}

.contact-options a:hover {
  background-color: rgb(40 10 100);
  color: #fff;
  cursor: pointer;
}